/* css */
@import url('layout.css');
@import url('form.css');
@import url('tools.css');
@import url('login.css');
@import url('history.css');

/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Nanum+Myeongjo:wght@400;700;800&family=Pinyon+Script&display=swap');
@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
/* Reset */
*{-webkit-text-size-adjust:none; box-sizing: border-box;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table,h1,h2,h3,h4,h5{
  /* font-family: 'Pretendard';
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Gowun Batang', serif;
  font-family: 'BookkMyungjo-Bd'; */
  font-family: 'Iropke Batang';
  font-size:.8rem;
  color:#303030;
  letter-spacing: -0.5px;
  word-break: break-word;
}
body{*word-break:break-word; -ms-word-break:break-word;overflow-y:scroll}
img,fieldset,iframe{border:0 none}
ul,ol,li{list-style:none; margin: 0; padding: 0;}
input,select,button{vertical-align:middle}
input[type='radio'],input[type='checkbox']{margin-right:10px; border:none;}
img{vertical-align:middle}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{text-decoration:none !important; color:#4b4b4b}
a:hover{text-decoration:none !important}
button *{position:relative}
button, button:focus, button:active{
  border:none;
  outline:none}
blockquote:before, blockquote:after,
q:before, q:after{content: ''; content: none;}
table{border-collapse: collapse; border-spacing: 0;}