#root .gtn-input {
  height: 28px;
  padding: 0 0.5rem;
  border: 1px solid #9591B1;
  border-radius: 4px;
}

#root .gtn-btn {
  display: block;
  height: 32px;
  width: 150px;
  border: 1px solid black;
  padding: 0 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#root .gtn-btn:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
