@import "_varient";

@mixin hoverEffect() {
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    filter: brightness(0.9);
    transition: all 0.2s;
  }
}
@mixin formFont(){
  font-family:Pretendard !important;
}

#root {
  //인풋
  .gtn-input {
    height: $form-height;
    padding: 0 $form-left-padding;
    // background-color: red !important; //왜 안되지?
    border: 1px solid $form-border-color;
    border-radius: $form-radius;
    @include hoverEffect();
    @include formFont();
  }

  //버튼
  & .gtn-btn {
    display: block;
    width: 150px;
    height: $chat-form-height;
    padding: 0 1rem;
    background: white;
    color: $brown-800;
    border-radius: $form-radius;
    border: none;
    outline: none;
    box-shadow: $form-shadow;
    font-weight: 600;
    @include hoverEffect();
    @include formFont();
    &.btn-brown {
      background: linear-gradient(
        -45deg,
        rgb(183, 140, 31) 0%,
        rgb(78, 66, 52) 100%
      );
      color: white;
      font-weight: 500;
    }
    &.btn-yellow {
      background-color: $yellow-300;
      color: $brown;
    }
    &.btn-mint {
      background-color: $mint;
    }
    &.btn-white {
      background: white;
      color: $brown-800;
      position: relative;
      overflow: hidden;
      z-index: 1;
      transition: 0.5s;
      & span {
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: rgb(255, 219, 38);
        transform: translateY(150%);
        border-radius: 50%;
        left: calc((var(--n) - 1) * 25%);
        transition: 0.5s;
        transition-delay: calc((var(--n) - 1) * 0.1s);
        z-index: -1;
      }
      &:hover {
        color: black;
        filter: none;
        & span {
          transform: translateY(0) scale(2);
          &:nth-child(1) {
            --n: 1;
          }
          &:nth-child(2) {
            --n: 2;
          }
          &:nth-child(3) {
            --n: 3;
          }
          &:nth-child(4) {
            --n: 4;
          }
        }
      }
    }
  }

  #file {
    display: none;
  }
  & .picture-upload-btn {
    @include formFont();
    width: 118px;
    height: $chat-form-height;
    padding: 0 1rem 0 0.8rem;
    background: $brown-300;
    border: 1px solid $brown-400;
    color: $brown-800;
    border-radius: $form-radius;
    box-shadow: $form-shadow;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: $form-font-weight;
    transition: all 0.2s;
    & span {
      font-size: 18px;
    }
    @include hoverEffect();
  }
  & .chatting-textarea {
    @include formFont();
    flex: 1;
    border-radius: $form-radius;
    height: $chat-form-height;
    padding: 5px;
  }
}
