#root .gtn-input {
  height: 28px;
  padding: 0 0.5rem;
  border: 1px solid #F9F8FD;
  border-radius: 4px;
}

#root .gtn-btn {
  height: 40px;
  width: 150px;
  border: 1px solid black;
  padding: 0 1rem;
}
