.logo {
  width: 180px;
  height: 30px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/gratia-2cdd0.appspot.com/o/gratine%2Flogo.png?alt=media&token=e45f8be9-4a1f-444a-8fbd-f2f1f2bb48b3");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0;
}

.logo.logo_black {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/gratia-2cdd0.appspot.com/o/gratine%2Flogo2.png?alt=media&token=1b862dd5-1aa0-4321-9fcf-77d6388514d3");
  width: 148px;
  height: 58px;
}

body {
  overflow: hidden !important;
}

body #root {
  position: relative;
  overflow: hidden !important;
  height: 100vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: fill-available;
  background: linear-gradient(34deg, #D3D3C9 10%, #F2F1EE 35%, transparent 50%, #E2E2DC 70%), url(https://grainy-gradients.vercel.app/noise.svg);
}

body #root::before {
  content: "created by @topports";
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: #505118;
  background-color: #F2F1EE;
  padding: 0 5px;
  border-radius: 100px;
}

body #root .app-container {
  width: 100%;
  height: 100%;
}

body #root .app-container .home-wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  gap: 0.2rem;
  padding: 0.2rem;
  position: relative;
}

body #root .app-container .home-wrap .profile-area {
  width: 280px;
}

body #root .app-container .home-wrap .chatting-area {
  width: 600px;
  overflow: hidden !important;
}

body #root .app-container .home-wrap .chatting-area .chatting-list-container {
  overflow-y: auto;
}

body #root .app-container .home-wrap .side-area {
  width: 348px;
}

body #root .app-container .home-wrap .home-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body #root .app-container .home-wrap .home-bg::after {
  content: "Gratines Garden";
  font-family: "Pinyon Script", cursive;
  background: -webkit-linear-gradient(120deg, white, #D3D3C9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-size: 30rem;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-10deg);
          transform: translateY(-50%) translateX(-50%) rotate(-10deg);
  mix-blend-mode: multiply;
}

body #root .app-container .home-wrap .home-bg::before {
  content: "Gratines Garden long story telling";
  font-family: "Pinyon Script", cursive;
  background: -webkit-linear-gradient(white, #ADAC9A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-size: 16rem;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-10deg);
          transform: translateY(-50%) translateX(-50%) rotate(-10deg);
  mix-blend-mode: multiply;
  z-index: -1;
}

.profile-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid white;
  border-radius: 4px;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.profile-area .logo {
  -webkit-filter: invert(20%) sepia(2%) saturate(3614%) hue-rotate(314deg) brightness(104%) contrast(91%);
          filter: invert(20%) sepia(2%) saturate(3614%) hue-rotate(314deg) brightness(104%) contrast(91%);
}

.profile-area .profile-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.profile-area .profile-wrap .bg-test {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  mask-image: linear-gradient(black, transparent);
}

.profile-area .profile-wrap .bg-test img {
  width: 500px;
  opacity: 0.4;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
}

.profile-area .profile-wrap .bg-test::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-color: rgba(141, 77, 58, 0.712);
  mix-blend-mode: overlay;
}

.profile-box__my {
  width: 120px;
  height: 120px;
  background-color: #F2F1EE;
  border: 1px solid white;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(37, 8, 8, 0.06), 0rem 0.94rem 1.41rem rgba(37, 8, 8, 0.06), 0rem 0.25rem 0.53rem rgba(37, 8, 8, 0.1), 0rem 0.13rem 0.19rem rgba(37, 8, 8, 0.06);
          box-shadow: 0rem 0.47rem 2.19rem rgba(37, 8, 8, 0.06), 0rem 0.94rem 1.41rem rgba(37, 8, 8, 0.06), 0rem 0.25rem 0.53rem rgba(37, 8, 8, 0.1), 0rem 0.13rem 0.19rem rgba(37, 8, 8, 0.06);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.profile-box__my img {
  width: 100%;
  height: 100%;
}

.profile-box__my button {
  display: none;
}

.profile-box__my.profile-edit:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.profile-box__my.profile-edit:hover button {
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 100rem;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #201f1f;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.profile-box__my.profile-edit:hover button span {
  color: white;
}

.profile-area .profile-wrap .nameplate {
  background-color: #D3D3C9;
  background: linear-gradient(-45deg, #d2c8be 0%, #e9e7e5 30%, #f7f5f3 40%, #e9e7e5 50%, #d2c8be 70%, lightgray 100%);
  background: linear-gradient(-45deg, #C4C3B6 0%, #E2E2DC 30%, #F2F1EE 40%, #D3D3C9, #C4C3B6, #dad7e3 100%);
  border: 1px solid white;
  border-radius: 0 10px 0 10px;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(37, 8, 8, 0.06), 0rem 0.94rem 1.41rem rgba(37, 8, 8, 0.06), 0rem 0.25rem 0.53rem rgba(37, 8, 8, 0.1), 0rem 0.13rem 0.19rem rgba(37, 8, 8, 0.06);
          box-shadow: 0rem 0.47rem 2.19rem rgba(37, 8, 8, 0.06), 0rem 0.94rem 1.41rem rgba(37, 8, 8, 0.06), 0rem 0.25rem 0.53rem rgba(37, 8, 8, 0.1), 0rem 0.13rem 0.19rem rgba(37, 8, 8, 0.06);
  width: 100%;
  min-width: 246px;
  margin: 1rem 0;
  padding: 0.5rem 0.3rem;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px;
}

.profile-area .profile-wrap .nameplate img {
  width: 32px;
  height: 30px;
}

.profile-area .profile-wrap .nameplate img:last-child {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.profile-area .profile-wrap .nameplate .name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.profile-area .profile-wrap .nameplate .name-wrap h4 {
  font-size: 1.2rem;
  color: #674738;
}

.profile-area .profile-wrap .nameplate .name-wrap p {
  color: #767824;
  font-size: 0.7rem;
  white-space: nowrap;
  text-transform: capitalize;
}

.profile-area .profile-wrap .profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.profile-area .profile-wrap .profile-info .profile-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
}

.profile-area .profile-wrap .profile-info .profile-item p {
  white-space: nowrap;
  color: white;
  background-color: #96957E;
  border-radius: 100px;
  padding: 0.1rem 0.4rem;
}

.profile-area .profile-wrap .profile-info .profile-item b {
  color: #4D4D3F;
}

.profile-area .profile-wrap .profile-info .profile-item span {
  color: #73725D;
}

.profile-area .profile-wrap .profile-info .profile-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-area .profile-wrap .profile-detail-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-area .profile-wrap .profile-detail-wrap .label {
  white-space: nowrap;
  width: 100%;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 3px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-area .profile-wrap .profile-detail-wrap .label .side-function {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.profile-area .profile-wrap .profile-detail-wrap .label .side-function span {
  opacity: 0.8;
  color: #007663;
}

.profile-area .profile-wrap .profile-detail-wrap .gtn-btn {
  width: 100% !important;
}

.profile-area .profile-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  width: 100%;
}

.chatting-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid white;
  border-radius: 4px;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.chatting-area .mobile-header {
  display: none;
}

.chatting-list-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #E2E2DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.chatting-list-container .chatting-list {
  background-color: #f8f7f5;
  border-bottom: 1px solid #D3D3C9;
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3rem;
}

.chatting-list-container .chatting-list.myChat {
  background-color: #E3F0E1;
  border-bottom: 1px solid #CDE4C6;
}

.chatting-list-container .chatting-list.wholeChat {
  background-color: #EFF0CD !important;
  padding: 0.3rem 0.8rem;
}

.chatting-list-container .chatting-list.wholeChat * {
  color: #73725D !important;
  line-height: 1.3rem;
}

.chatting-list-container .chatting-list.orderChat {
  background-color: #CDE4C6 !important;
  border-top: 1px solid #A7D1A0;
  border-bottom: 2px solid #A7D1A0;
  padding: 0.3rem 0.8rem;
}

.chatting-list-container .chatting-list.buyChat {
  background-color: #E2E2DC;
}

.chatting-list-container .chatting-list.buyChat .hpValue {
  display: none !important;
}

.chatting-list-container .chatting-list.buyChat .txt-box p {
  font-weight: 500;
}

.chatting-list-container .chatting-list.wholeChat, .chatting-list-container .chatting-list.orderChat {
  text-align: center;
  font-style: italic;
  position: relative;
}

.chatting-list-container .chatting-list.wholeChat .profile-box,
.chatting-list-container .chatting-list.wholeChat b,
.chatting-list-container .chatting-list.wholeChat .hpValue, .chatting-list-container .chatting-list.orderChat .profile-box,
.chatting-list-container .chatting-list.orderChat b,
.chatting-list-container .chatting-list.orderChat .hpValue {
  display: none !important;
}

.chatting-list-container .chatting-list.wholeChat p, .chatting-list-container .chatting-list.orderChat p {
  font-weight: 700 !important;
}

.chatting-list-container .chatting-list.wholeChat p span, .chatting-list-container .chatting-list.orderChat p span {
  margin: 0 5px;
  color: #007663;
}

.chatting-list-container .chatting-list.wholeChat p span:last-child, .chatting-list-container .chatting-list.orderChat p span:last-child {
  background-color: #F6FAF3;
  margin: 0 5px;
  padding: 2px 8px 2px 5px;
  border-radius: 100px;
  color: #007663 !important;
}

.chatting-list-container .chatting-list.wholeChat img, .chatting-list-container .chatting-list.orderChat img {
  margin: 0 auto;
}

.chatting-list-container .chatting-list.wholeChat button, .chatting-list-container .chatting-list.orderChat button {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #96957E;
  opacity: 0.85;
  position: absolute;
  top: 5px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chatting-list-container .chatting-list.wholeChat button span, .chatting-list-container .chatting-list.orderChat button span {
  font-size: 14px;
  color: #E2E2DC !important;
}

.chatting-list-container .chatting-list.wholeChat button:hover, .chatting-list-container .chatting-list.orderChat button:hover {
  background-color: #73725D;
}

.chatting-list-container .chatting-list .profile-box {
  background-color: #ADAC9A;
  width: 28px;
  height: 28px;
  border-radius: 200px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chatting-list-container .chatting-list .profile-box img {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}

.chatting-list-container .chatting-list .txt-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.chatting-list-container .chatting-list .txt-box .name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.chatting-list-container .chatting-list .txt-box .name-box .hpValue {
  background-color: #E2E2DC;
  color: #674738;
  padding: 0 8px;
  border-radius: 100px;
  font-size: 0.7rem;
  font-weight: bold;
}

.chatting-list-container .chatting-list .txt-box b {
  font-size: 11px;
  font-weight: 500;
  color: #73725D;
}

.chatting-list-container .chatting-list .txt-box pre {
  white-space: pre-wrap;
  font-family: "Iropke Batang";
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #313128;
}

.chatting-list-container .chatting-list .txt-box img {
  width: 200px;
  max-width: 150px;
  max-height: 140px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 1px solid #E2E2DC;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.chatting-area .chatting-form-box {
  min-height: 40px;
  background-color: #4D4D3F;
  padding: 0.5rem;
}

.chatting-area .chatting-form-box .img-thumb-area {
  margin-bottom: 0.5rem;
}

.chatting-area .chatting-form-box .img-thumb-area img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.chatting-area .chatting-form-box .img-thumb-area button {
  margin-left: 10px;
  padding: 0.2rem 0.5rem;
  font-family: "Pretendard";
  background-color: #E2E2DC;
  padding: 0.5rem;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.chatting-area .chatting-form-box .img-thumb-area button:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #C4C3B6;
}

.chatting-area .chatting-form-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  position: relative;
}

.chatting-area .chatting-form-box form button[type="submit"] {
  width: 60px;
  background: #DFE099;
  color: #343901;
  font-weight: 600;
}

.chatting-area .chatting-form-box form button[type="submit"] span {
  display: none;
}

.chatting-area .chatting-form-box form .tooltip {
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 0;
  right: 0.3rem;
  background-color: #4D4D3F;
  padding: 0.5rem;
  border-radius: 4px;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #73725D;
  padding-right: 1rem;
  margin-right: 1rem;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container:last-child {
  border: none;
  margin: 0;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container .title {
  color: #ADAC9A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding-left: 6px;
  margin: 5px 0;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container .title span {
  color: #ADAC9A;
  font-size: 0.8rem;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container .warning {
  background-color: #313128;
  color: pink;
  padding: 0.5rem;
  border-radius: 4px;
  text-align: center;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container .function-list {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container .function-list b {
  font-weight: 300;
  font-size: 0.94rem;
  color: white;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container .function-list p {
  font-weight: 200;
  color: #C4C3B6;
}

.chatting-area .chatting-form-box form .autoComplete {
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 0;
  right: 0.3rem;
  border-radius: 4px;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.1), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.1), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.2), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.1);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.1), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.1), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.2), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.1);
  max-height: 200px;
  overflow-y: auto;
  padding: 5px;
  background: #313128;
}

.chatting-area .chatting-form-box form .autoComplete > li {
  background: #313128;
  color: #ADAC9A;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
}

.chatting-area .chatting-form-box form .autoComplete > li.active, .chatting-area .chatting-form-box form .autoComplete > li.selected {
  background: #251b1b;
  color: #DFE099;
}

.chatting-area .chatting-form-box form .autoComplete > li mark {
  background: #DFE099;
}

.side-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2rem;
}

.side-area > div {
  overflow: hidden;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid white;
  border-radius: 4px;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.side-area > div .title {
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 700;
  color: #4D4D3F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-area > div .title .info-wrap .info-btn {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  margin-left: 4px;
  cursor: pointer;
}

.side-area > div .title .info-wrap .info-btn span {
  font-size: 16px;
  opacity: 0.4;
}

.side-area > div .title .info-wrap .info-box {
  background: -webkit-gradient(linear, left bottom, left top, from(#ADAC9A), color-stop(50%, #C4C3B6), to(#D3D3C9));
  background: linear-gradient(0deg, #ADAC9A 0%, #C4C3B6 50%, #D3D3C9 100%);
  border-top: 1px solid white;
  padding: 0.5rem;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  overflow: hidden;
}

.side-area > div .title .info-wrap .info-box .img-wrap {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 15px 0;
}

.side-area > div .title .info-wrap .info-box .img-wrap img {
  -webkit-filter: invert(1);
          filter: invert(1);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.side-area > div .title .info-wrap .info-box .img-wrap img:nth-child(1) {
  width: 100px;
  -webkit-filter: invert(1) drop-shadow(0px 0px 15px white);
          filter: invert(1) drop-shadow(0px 0px 15px white);
}

.side-area > div .title .info-wrap .info-box .img-wrap img:nth-child(2) {
  width: 240px;
}

.side-area > div .title .info-wrap .info-box p {
  background-color: #96957E;
  z-index: 20;
  line-height: 1.4rem;
  font-size: 0.9rem;
  color: #F8F8E7;
  font-weight: 400;
  padding: 6px 12px;
  border: 1px solid white;
  border-radius: 4px;
}

.side-area > div.memeber-area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 348px;
}

.side-area > div.attend-area {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.side-area > div.vending-area {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  min-width: 348px;
}

.side-area .member-area {
  max-height: 120px;
}

.side-area .member-area .member-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.side-area .member-area .member-list {
  width: 42px;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.side-area .member-area .member-list:hover {
  cursor: pointer;
}

.side-area .member-area .member-list:hover .profile-box {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 0px 5px rgba(96, 86, 83, 0.4);
          box-shadow: 0px 0px 5px rgba(96, 86, 83, 0.4);
}

.side-area .member-area .member-list .profile-box {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 6px;
}

.side-area .member-area .member-list p {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1;
  color: #73725D;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.side-area .vending-area .vending-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0.5rem;
  gap: 0.5rem;
}

.side-area .vending-area .vending-list-container .vending-item {
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
  border: 1px solid #E2E2DC;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.side-area .vending-area .vending-list-container .vending-item::after, .side-area .vending-area .vending-list-container .vending-item.soldOut::after {
  content: "Buy";
  background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 0%, rgba(255, 220, 106, 0.4) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #674738;
  font-size: 1rem;
  font-weight: 800;
  opacity: 0;
}

.side-area .vending-area .vending-list-container .vending-item:hover::after {
  opacity: 1;
  cursor: pointer;
}

.side-area .vending-area .vending-list-container .vending-item.soldOut::after {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, #edeae6 100%);
  color: #ADAC9A;
  font-weight: 400;
  font-size: 0.9rem;
  cursor: not-allowed !important;
  content: "SoldOut";
  opacity: 1;
}

.side-area .vending-area .vending-list-container .vending-item .eventTag {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2px 5px;
  border-radius: 0 0 5px 0;
  background-color: #E3F0E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #007663;
  font-weight: 600;
  font-size: 0.7rem;
}

.side-area .vending-area .vending-list-container .vending-item .img-box {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #D3D3C9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-area .vending-area .vending-list-container .vending-item .img-box img {
  width: 48px;
  height: 48px;
  -webkit-filter: invert(15%) sepia(2%) saturate(5914%) hue-rotate(333deg) brightness(98%) contrast(83%);
          filter: invert(15%) sepia(2%) saturate(5914%) hue-rotate(333deg) brightness(98%) contrast(83%);
}

.side-area .vending-area .vending-list-container .vending-item .txt-box {
  width: 100%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.side-area .vending-area .vending-list-container .vending-item .txt-box p {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1;
  color: #73725D;
  width: 100%;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

.side-area .vending-area .vending-list-container .vending-item .txt-box span {
  background-color: #674738;
  color: white;
  border-radius: 100px;
  text-align: center;
  width: 50px;
  display: block;
}

.side-area .attend-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
}

.side-area .attend-area .content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-area .attend-area .attend-gauge-wrap {
  width: 80px;
  position: relative;
}

.side-area .attend-area .attend-gauge-wrap text {
  position: absolute !important;
  z-index: 10;
  font-size: 20px;
  fill: #007663;
  font-weight: 800;
}

.side-area .attend-area .attend-gauge-wrap img {
  z-index: 1;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: invert(1) brightness(1000%);
          filter: invert(1) brightness(1000%);
  mix-blend-mode: multiply;
}

.side-area .attend-area .attend-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  font-weight: 700;
}

.side-area .attend-area .attend-info .btn-disable {
  background: #E2E2DC !important;
  color: #ADAC9A !important;
  cursor: auto !important;
}

.side-area .attend-area .attend-info .btn-disable:hover {
  -webkit-filter: none !important;
          filter: none !important;
}

.side-area .attend-area .attend-info b {
  color: #007663;
  font-size: 1.4rem;
  margin-right: 5px;
  font-weight: 700;
}

.side-area .history-area .gtn-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #EFF0CD;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid transparent;
}

*::-webkit-scrollbar-track {
  background-color: #767824;
  border-radius: 10px;
}

@media only screen and (max-width: 1000px) {
  #root {
    height: calc(var(--var, 1vh) * 100);
  }
  .side-area {
    display: none;
  }
  .profile-area {
    width: 200px !important;
  }
  .profile-area .nameplate {
    padding: 0.3rem 0.4rem !important;
  }
  .profile-area .nameplate img {
    width: 20px !important;
    height: 20px !important;
  }
  .profile-area .nameplate h4 {
    font-size: 0.9rem !important;
  }
  .profile-area .nameplate p {
    font-size: 0.5rem !important;
  }
  .profile-area .profile-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-area .profile-btns button {
    width: 100%;
  }
  .chatting-area .tooltip {
    max-height: 200px;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 480px) {
  #root::after {
    display: none !important;
  }
  .home-wrap {
    padding: 0 !important;
  }
  .home-bg {
    display: none !important;
  }
  .profile-area {
    display: none !important;
  }
  .chatting-area {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .chatting-area .chatting-list-container {
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
            box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
  }
  .chatting-area .chatting-form-box .tooltip {
    display: none;
  }
  .chatting-area .chatting-form-box button[type="submit"] {
    width: 32px !important;
    height: 32px !important;
    padding: 0 !important;
    font-size: 0;
    gap: 0;
  }
  .chatting-area .chatting-form-box button[type="submit"] span {
    font-size: 18px;
    display: block !important;
  }
  .chatting-area .mobile-header {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
    padding: 0 0.5rem;
    height: 40px;
    border-bottom: 1px solid #ADAC9A;
    font-size: 1rem;
    font-weight: bold;
  }
  .chatting-area .mobile-header .logo {
    -webkit-transform: scale(0.7) translateX(-20%);
            transform: scale(0.7) translateX(-20%);
  }
  .mobileMenu-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 1rem;
  }
  .mobileMenu-area .close-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .mobileMenu-area .menu-wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobileMenu-area .menu-wrap .menu-item-wrap {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.1), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.1), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.2), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.1);
            box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.1), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.1), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.2), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.1);
  }
  .mobileMenu-area .menu-wrap .menu-item-wrap .menu-item {
    height: 60px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 800;
    border-bottom: 1px solid #E2E2DC;
  }
  .mobileMenu-area .menu-wrap .menu-item-wrap .menu-item:nth-of-type(1) .material-icons-round {
    color: #C2C43E;
  }
  .mobileMenu-area .menu-wrap .menu-item-wrap .menu-item:nth-of-type(2) .material-icons-round {
    color: #6EB06D;
  }
  .mobileMenu-area .menu-wrap .menu-item-wrap .menu-item:nth-of-type(3) .material-icons-round {
    color: #ADAC9A;
  }
}
