.nav {
  display: none;
  border-bottom: 1px solid black;
  padding: 1rem;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav ul li {
  padding: 0.5rem;
  background-color: lightblue;
  margin: 0 10px;
}

body {
  overflow: hidden !important;
}

body #root {
  overflow: hidden !important;
  height: 100vh;
  background: linear-gradient(34deg, #e4ddd6 20%, #eceae2 45%, #fffcf5 50%, #e4ddd6 60%);
  background: linear-gradient(34deg, #e4ddd6 10%, #eceae2 35%, transparent 50%, #e4ddd6 70%), url(https://grainy-gradients.vercel.app/noise.svg);
  position: relative;
}

body #root::before {
  content: "Gratines Garden";
  font-family: "Pinyon Script", cursive;
  color: #B5AA9F;
  background: -webkit-linear-gradient(white, #B5AA9F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-size: 30rem;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-10deg);
          transform: translateY(-50%) translateX(-50%) rotate(-10deg);
  mix-blend-mode: multiply;
}

body #root::after {
  content: "created by @topports";
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: #605410;
  background-color: #F0EEEC;
  padding: 0 5px;
  border-radius: 100px;
}

body #root .app-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  gap: 0.2rem;
  padding: 0.2rem;
  position: relative;
}

body #root .app-container::before {
  content: "long story telling";
  font-family: "Pinyon Script", cursive;
  color: #CBC4BC;
  background: -webkit-linear-gradient(white, #B5AA9F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-size: 16rem;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-10deg);
          transform: translateY(-50%) translateX(-50%) rotate(-10deg);
  mix-blend-mode: multiply;
  z-index: -1;
}

body #root .app-container .profile-area {
  width: 280px;
}

body #root .app-container .chatting-area {
  width: 600px;
  overflow: hidden !important;
}

body #root .app-container .chatting-area .chatting-list-container {
  overflow-y: auto;
}

body #root .app-container .side-area {
  width: 348px;
}

body #root .app-container .home-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.profile-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid white;
  border-radius: 4px;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.logo {
  width: 180px;
  height: 30px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/gratia-2cdd0.appspot.com/o/gratine%2Flogo.png?alt=media&token=e45f8be9-4a1f-444a-8fbd-f2f1f2bb48b3");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0;
}

.profile-area .profile-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.profile-box__my {
  width: 120px;
  height: 120px;
  background-color: #F0EEEC;
  border: 1px solid white;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(37, 8, 8, 0.06), 0rem 0.94rem 1.41rem rgba(37, 8, 8, 0.06), 0rem 0.25rem 0.53rem rgba(37, 8, 8, 0.1), 0rem 0.13rem 0.19rem rgba(37, 8, 8, 0.06);
          box-shadow: 0rem 0.47rem 2.19rem rgba(37, 8, 8, 0.06), 0rem 0.94rem 1.41rem rgba(37, 8, 8, 0.06), 0rem 0.25rem 0.53rem rgba(37, 8, 8, 0.1), 0rem 0.13rem 0.19rem rgba(37, 8, 8, 0.06);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.profile-box__my img {
  width: 100%;
  height: 100%;
}

.profile-box__my button {
  display: none;
}

.profile-box__my.profile-edit:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.profile-box__my.profile-edit:hover button {
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 100rem;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #201f1f;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.profile-box__my.profile-edit:hover button span {
  color: white;
}

.profile-area .profile-wrap .nameplate {
  background: linear-gradient(-45deg, #e1c2a4 0%, #f1eea4 60%, #e1c2a4 100%);
  border: 1px solid white;
  border-radius: 100px;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(37, 8, 8, 0.06), 0rem 0.94rem 1.41rem rgba(37, 8, 8, 0.06), 0rem 0.25rem 0.53rem rgba(37, 8, 8, 0.1), 0rem 0.13rem 0.19rem rgba(37, 8, 8, 0.06);
          box-shadow: 0rem 0.47rem 2.19rem rgba(37, 8, 8, 0.06), 0rem 0.94rem 1.41rem rgba(37, 8, 8, 0.06), 0rem 0.25rem 0.53rem rgba(37, 8, 8, 0.1), 0rem 0.13rem 0.19rem rgba(37, 8, 8, 0.06);
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem 0.8rem;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px;
}

.profile-area .profile-wrap .nameplate img {
  width: 38px;
  height: 32px;
}

.profile-area .profile-wrap .nameplate img:last-child {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.profile-area .profile-wrap .nameplate .name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.profile-area .profile-wrap .nameplate .name-wrap h4 {
  font-size: 1.2rem;
  color: #674738;
}

.profile-area .profile-wrap .nameplate .name-wrap p {
  color: #9A871A;
  font-size: 0.7rem;
  white-space: nowrap;
  text-transform: capitalize;
}

.profile-area .profile-wrap .profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.profile-area .profile-wrap .profile-info .profile-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
}

.profile-area .profile-wrap .profile-info .profile-item p {
  white-space: nowrap;
  color: white;
  background-color: #988978;
  border-radius: 100px;
  padding: 0.1rem 0.4rem;
}

.profile-area .profile-wrap .profile-info .profile-item b {
  color: #433C34;
}

.profile-area .profile-wrap .profile-info .profile-item span {
  color: #746758;
}

.profile-area .profile-wrap .profile-detail-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-area .profile-wrap .profile-detail-wrap .label {
  white-space: nowrap;
  width: 100%;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 3px;
  font-weight: bold;
}

.profile-area .profile-wrap .profile-detail-wrap .gtn-btn {
  width: 100% !important;
}

.chatting-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid white;
  border-radius: 4px;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.chatting-area .logo-box {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chatting-area .chatting-list-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.chatting-area .chatting-list-container .chatting-list {
  background-color: #f8f7f5;
  border-bottom: 1px solid #E2DDD8;
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3rem;
}

.chatting-area .chatting-list-container .chatting-list.myChat {
  background-color: #e9e8f1;
  border-bottom: 1px solid #d8d7e7;
}

.chatting-area .chatting-list-container .chatting-list.wholeChat {
  background-color: #F6F1CE !important;
  padding: 0.3rem 0.8rem;
}

.chatting-area .chatting-list-container .chatting-list.wholeChat * {
  color: #746758 !important;
}

.chatting-area .chatting-list-container .chatting-list.orderChat {
  background-color: #d8d7e7 !important;
  border-top: 1px solid #B2B0CB;
  border-bottom: 2px solid #B2B0CB;
  padding: 0.3rem 0.8rem;
}

.chatting-area .chatting-list-container .chatting-list.wholeChat, .chatting-area .chatting-list-container .chatting-list.orderChat {
  text-align: center;
  font-style: italic;
  position: relative;
}

.chatting-area .chatting-list-container .chatting-list.wholeChat .profile-box,
.chatting-area .chatting-list-container .chatting-list.wholeChat b, .chatting-area .chatting-list-container .chatting-list.orderChat .profile-box,
.chatting-area .chatting-list-container .chatting-list.orderChat b {
  display: none !important;
}

.chatting-area .chatting-list-container .chatting-list.wholeChat p, .chatting-area .chatting-list-container .chatting-list.orderChat p {
  font-weight: 700 !important;
}

.chatting-area .chatting-list-container .chatting-list.wholeChat p span, .chatting-area .chatting-list-container .chatting-list.orderChat p span {
  margin: 0 5px;
  color: #625BD3;
}

.chatting-area .chatting-list-container .chatting-list.wholeChat p span:last-child, .chatting-area .chatting-list-container .chatting-list.orderChat p span:last-child {
  background-color: #F8F8FA;
  margin: 0 5px;
  padding: 2px 8px 2px 5px;
  border-radius: 100px;
  color: #625BD3 !important;
}

.chatting-area .chatting-list-container .chatting-list.wholeChat img, .chatting-area .chatting-list-container .chatting-list.orderChat img {
  margin: 0 auto;
}

.chatting-area .chatting-list-container .chatting-list.wholeChat button, .chatting-area .chatting-list-container .chatting-list.orderChat button {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #433C34;
  opacity: 0.85;
  position: absolute;
  top: 5px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chatting-area .chatting-list-container .chatting-list.wholeChat button span, .chatting-area .chatting-list-container .chatting-list.orderChat button span {
  font-size: 14px;
  color: white;
}

.chatting-area .chatting-list-container .chatting-list .profile-box {
  background-color: #B5AA9F;
  width: 28px;
  height: 28px;
  border-radius: 200px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chatting-area .chatting-list-container .chatting-list .profile-box img {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}

.chatting-area .chatting-list-container .chatting-list .txt-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.chatting-area .chatting-list-container .chatting-list .txt-box b {
  font-size: 11px;
  font-weight: 500;
  color: #746758;
}

.chatting-area .chatting-list-container .chatting-list .txt-box p {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #1D1A16;
}

.chatting-area .chatting-list-container .chatting-list .txt-box img {
  height: 300px;
  width: 300px;
  border: 1px solid gray;
}

.chatting-area .chatting-form-box {
  min-height: 40px;
  background-color: #433C34;
  padding: 0.5rem;
}

.chatting-area .chatting-form-box .img-thumb-area {
  margin-bottom: 0.5rem;
}

.chatting-area .chatting-form-box .img-thumb-area img {
  width: 50px;
  height: 50px;
}

.chatting-area .chatting-form-box .img-thumb-area button {
  margin-left: 10px;
  padding: 0.2rem 0.5rem;
}

.chatting-area .chatting-form-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  position: relative;
}

.chatting-area .chatting-form-box form input[type="submit"] {
  width: 60px !important;
  background: #ECE094 !important;
  color: #342E09 !important;
  font-weight: 600 !important;
}

.chatting-area .chatting-form-box form .tooltip {
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 0;
  right: 0.3rem;
  background-color: #433C34;
  padding: 0.5rem;
  border-radius: 4px;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #746758;
  padding-right: 1rem;
  margin-right: 1rem;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container:last-child {
  border: none;
  margin: 0;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container .title {
  color: #B5AA9F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding-left: 6px;
  margin: 5px 0;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container .title span {
  color: #B5AA9F;
  font-size: 0.8rem;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container .function-list {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container .function-list b {
  font-weight: 300;
  font-size: 1rem;
  color: white;
}

.chatting-area .chatting-form-box form .tooltip .function-list-container .function-list p {
  font-weight: 200;
  color: #CBC4BC;
}

.side-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2rem;
}

.side-area > div {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid white;
  border-radius: 4px;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.side-area > div .title {
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 700;
  color: #433C34;
}

.side-area > div.memeber-area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
}

.side-area > div.attend-area {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.side-area > div.vending-area {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  overflow-y: auto;
}

.side-area .member-area .member-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.side-area .member-area .member-list {
  width: 56px;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.side-area .member-area .member-list .profile-box {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.side-area .member-area .member-list p {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1;
  color: #746758;
  width: 100%;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

.side-area .vending-area .vending-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0.5rem;
  gap: 0.5rem;
}

.side-area .vending-area .vending-list-container .vending-item {
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
  border: 1px solid #E9E5E2;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.side-area .vending-area .vending-list-container .vending-item::after, .side-area .vending-area .vending-list-container .vending-item.soldOut::after {
  content: "Buy";
  background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 0%, rgba(255, 220, 106, 0.4) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #674738;
  font-size: 1rem;
  font-weight: 800;
  opacity: 0;
}

.side-area .vending-area .vending-list-container .vending-item:hover::after {
  opacity: 1;
  cursor: pointer;
}

.side-area .vending-area .vending-list-container .vending-item.soldOut::after {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, #edeae6 100%);
  color: #B5AA9F;
  font-weight: 400;
  font-size: 0.9rem;
  cursor: not-allowed !important;
  content: "SoldOut";
  opacity: 1;
}

.side-area .vending-area .vending-list-container .vending-item .img-box {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #E2DDD8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-area .vending-area .vending-list-container .vending-item .img-box img {
  width: 48px;
  height: 48px;
}

.side-area .vending-area .vending-list-container .vending-item .txt-box {
  width: 100%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.side-area .vending-area .vending-list-container .vending-item .txt-box p {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1;
  color: #746758;
  width: 100%;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

.side-area .vending-area .vending-list-container .vending-item .txt-box span {
  background-color: #674738;
  color: white;
  border-radius: 100px;
  text-align: center;
  width: 50px;
  display: block;
}

.side-area .attend-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
}

.side-area .attend-area .content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-area .attend-area .attend-gauge-wrap {
  width: 100px;
  margin: 0 auto;
  position: relative;
}

.side-area .attend-area .attend-gauge-wrap text {
  position: absolute !important;
  z-index: 10;
  font-size: 20px;
  fill: #44D9C7;
  font-weight: 800;
}

.side-area .attend-area .attend-gauge-wrap img {
  z-index: 1;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: invert(1) brightness(1000%);
          filter: invert(1) brightness(1000%);
  mix-blend-mode: multiply;
}

.side-area .attend-area .attend-info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  font-weight: 700;
}

.side-area .attend-area .attend-info b {
  color: #44D9C7;
  font-size: 1.4rem;
  margin-right: 5px;
  font-weight: 700;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #F6F1CE;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid transparent;
}

*::-webkit-scrollbar-track {
  background-color: #9A871A;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .side-area {
    display: none;
  }
  .profile-area {
    width: 200px !important;
  }
  .profile-area .nameplate {
    padding: 0.3rem 0.4rem !important;
  }
  .profile-area .nameplate img {
    width: 20px !important;
    height: 20px !important;
  }
  .profile-area .nameplate h4 {
    font-size: 0.9rem !important;
  }
  .profile-area .nameplate p {
    font-size: 0.5rem !important;
  }
}

@media (max-width: 480px) {
  #root::after {
    display: none !important;
  }
  .app-container {
    padding: 0 !important;
  }
  .profile-area {
    display: none !important;
  }
  .chatting-area {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .chatting-area .chatting-list-container {
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
            box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
  }
  .chatting-area .logo-box {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .chatting-area .logo-box .logo {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-bottom: 0.5rem;
  }
}
