@import "_varient";

@mixin cardDesign() {
  background-color: $card-bg-color;
  border: $card-border;
  border-radius: $card-radius;
  box-shadow: $card-shadow;
  backdrop-filter: blur(10px);
}
//로고
@at-root .logo {
  width: 180px;
  height: 30px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/gratia-2cdd0.appspot.com/o/gratine%2Flogo.png?alt=media&token=e45f8be9-4a1f-444a-8fbd-f2f1f2bb48b3");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  &.logo_black {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/gratia-2cdd0.appspot.com/o/gratine%2Flogo2.png?alt=media&token=1b862dd5-1aa0-4321-9fcf-77d6388514d3");
    width: 148px;
    height: 58px;
  }
}

//전체
body {
  overflow: hidden !important;
  & #root {
    position: relative;
    overflow: hidden !important;
    height: 100vh;
    // min-height: 100vh;
    min-height: fill-available;
    background: linear-gradient(
        34deg,
        $brown-300 10%,
        $brown-100 35%,
        transparent 50%,
        $brown-200 70%
      ),
      url(https://grainy-gradients.vercel.app/noise.svg);
    &::before {
      content: "created by @topports";
      position: absolute;
      bottom: 0.5rem;
      right: 0.5rem;
      color: $yellow-800;
      background-color: $brown-100;
      padding: 0 5px;
      border-radius: 100px;
    }
    & .app-container {
      width: 100%;
      height: 100%;
      //홈 전체
      & .home-wrap {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0;
        gap: $layout-gap;
        padding: $layout-gap;
        position: relative;
        //프로필 영역
        & .profile-area {
          width: 280px;
        }
        //채팅 영역
        & .chatting-area {
          width: 600px;
          overflow: hidden !important;
          & .chatting-list-container {
            overflow-y: auto;
            //max-height: ;
          }
        }
        //사이드 영역
        & .side-area {
          width: 348px;
        }
        //배경 글씨
        & .home-bg {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          &::after {
            content: "Gratines Garden";
            font-family: "Pinyon Script", cursive;
            background: -webkit-linear-gradient(120deg, white, $brown-300);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            white-space: nowrap;
            font-size: 30rem;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%) rotate(-10deg);
            mix-blend-mode: multiply;
          }
          &::before {
            content: "Gratines Garden long story telling";
            font-family: "Pinyon Script", cursive;
            background: -webkit-linear-gradient(white, $brown-500);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            white-space: nowrap;
            font-size: 16rem;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%) rotate(-10deg);
            mix-blend-mode: multiply;
            z-index: -1;
          }
        }
      }
    }
  }
}

//프로필 영역
.profile-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  overflow: hidden;
  @include cardDesign();
  //로고
  & .logo {
    filter: invert(20%) sepia(2%) saturate(3614%) hue-rotate(314deg)
      brightness(104%) contrast(91%);
  }
  //내 프로필 영역
  & .profile-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    & .bg-test {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -1;
      -webkit-mask-image: linear-gradient(black, transparent);
      mask-image: linear-gradient(black, transparent);
      & img {
        width: 500px;
        opacity: 0.4;
        filter: blur(0.5px);
        // mask-size: 10px 10px;
        // -webkit-mask-size: 10px 10px;
        // mask-image: linear-gradient(45deg, #000000 25%, rgba(0, 0, 0, 0.2) 25%),
        //   linear-gradient(-45deg, #000000 25%, rgba(0, 0, 0, 0.2) 25%),
        //   linear-gradient(45deg, rgba(0, 0, 0, 0.2) 75%, #000000 75%),
        //   linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 75%, #000000 75%);
        // -webkit-mask-image: linear-gradient(
        //     45deg,
        //     #000000 25%,
        //     rgba(0, 0, 0, 0.2) 25%
        //   ),
        //   linear-gradient(-45deg, #000000 25%, rgba(0, 0, 0, 0.2) 25%),
        //   linear-gradient(45deg, rgba(0, 0, 0, 0.2) 75%, #000000 75%),
        //   linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 75%, #000000 75%);
      }
    }
    @at-root .profile-box__my {
      width: 120px;
      height: 120px;
      background-color: $brown-100;
      border: 1px solid white;
      box-shadow: $nameplate-shadow;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      & img {
        width: 100%;
        height: 100%;
      }
      & button {
        display: none;
      }
      &.profile-edit {
        &:hover {
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba(0, 0, 0, 0.3);
            position: absolute;
          }
          & button {
            position: absolute;
            top: 4px;
            right: 4px;
            border-radius: 100rem;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(32, 31, 31);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            z-index: 10;
            & span {
              color: white;
            }
          }
        }
      }
    }
    //이름
    & .nameplate {
      background-color: $brown-300;
      background: linear-gradient(
        -45deg,
        rgb(210, 200, 190) 0%,
        rgb(233, 231, 229) 30%,
        rgb(247, 245, 243) 40%,
        rgb(233, 231, 229) 50%,
        rgb(210, 200, 190) 70%,
        rgb(211, 211, 211) 100%
      );
      background: linear-gradient(
        -45deg,
        $brown-400 0%,
        $brown-200 30%,
        $brown-100 40%,
        $brown-300,
        $brown-400,
        $gray-300 100%
      );
      border: 1px solid white;
      border-radius: 0 10px 0 10px;
      box-shadow: $nameplate-shadow;
      width: 100%;
      min-width: 246px;
      margin: 1rem 0;
      padding: 0.5rem 0.3rem;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0px;
      &::after {
      }
      & img {
        width: 32px;
        height: 30px;
        &:last-child {
          transform: rotateY(180deg);
        }
      }
      & .name-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1px;
        flex: 1;
        & h4 {
          font-size: 1.2rem;
          color: $brown;
        }
        & p {
          color: $brown-700;
          font-size: 0.7rem;
          white-space: nowrap;
          text-transform: capitalize;
        }
      }
    }
    & .profile-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      & .profile-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5px;
        margin-bottom: 5px;
        & p {
          width: 60px;
          white-space: nowrap;
          color: white;
          background-color: $brown-600;
          border-radius: 100px;
          padding: 0.1rem 0.4rem;
        }
        & b {
          color: $brown-800;
        }
        & span {
          color: $brown-700;
        }
        & div {
          display: flex;
          justify-content: center;
        }
      }
    }
    //프로필 수정
    & .profile-detail-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      & .label {
        white-space: nowrap;
        width: 100%;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 3px;
        font-weight: bold;
        display: flex;
        & .side-function {
          flex: 1;
          text-align: right;
          & span {
            opacity: 0.8;
            color: $purple;
          }
        }
      }
      & .gtn-btn {
        width: 100% !important;
      }
    }
  }
  & .profile-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }
}

//채팅 영역
.chatting-area {
  display: flex;
  flex-direction: column;
  @include cardDesign();
  & .mobile-header {
    display: none;
  }
  //채팅 보이는 영역
  & .chatting-list-area{
    height: calc(100% - 48px);
    overflow:auto;
    & .height-wrap{
      height: 3000px;
      overflow: hidden;
    }
  }
  @at-root .chatting-list-container {
    flex: 1;
    background-color: $brown-200;
    display: flex;
    flex-direction: column-reverse;
    // 개별 채팅박스
    & .chatting-list {
      //background-color: rgb(247, 245, 245);
      background-color: #f8f7f5;
      border-bottom: 1px solid $brown-300;
      padding: 0.3rem;
      display: flex;
      gap: 0.3rem;
      //내채팅
      &.myChat {
        background-color: $purple-200;
        border-bottom: 1px solid $purple-300;
      }
      //전체채팅
      &.wholeChat {
        background-color: $yellow-200 !important;
        padding: 0.3rem 0.8rem;
        & * {
          color: $brown-700 !important;
          line-height: 1.3rem;
        }
      }
      //오더채팅
      &.orderChat {
        background-color: $purple-300 !important;
        border-top: 1px solid $purple-400;
        border-bottom: 2px solid $purple-400;
        padding: 0.3rem 0.8rem;
      }
      //구매채팅
      &.buyChat {
        background-color: $brown-200;
        & .hpValue {
          display: none !important;
        }
        & .txt-box p {
          font-weight: 500;
        }
      }
      //전체채팅
      &.wholeChat,
      &.orderChat {
        text-align: center;
        font-style: italic;
        position: relative;
        & .profile-box,
        b,
        .hpValue {
          display: none !important;
        }
        & p {
          font-weight: 700 !important;
          & span {
            margin: 0 5px;
            color: $purple;
          }
          & b {
            display: inline-block !important;
            font-weight: 900 !important;
            font-size: 0.8rem;
            color: $purple;
            background-color: $purple-100;
            margin: 0 5px;
            padding: 2px 8px 2px 5px;
            border-radius: 100px;
            color: $purple !important;
          }
        }
        & img {
          margin: 0 auto;
        }
        & button {
          width: 20px;
          height: 20px;
          border-radius: 100px;
          background-color: $brown-600;
          opacity: 0.85;
          position: absolute;
          top: 5px;
          right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          & span {
            font-size: 14px;
            color: $brown-200 !important;
          }
          &:hover {
            background-color: $brown-700;
          }
        }
      }
      & .profile-box {
        background-color: $brown-500;
        width: 28px;
        height: 28px;
        border-radius: 200px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
          width: calc(100% + 2px);
          height: calc(100% + 2px);
        }
      }
      & .txt-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2px;
        & .name-box {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          & .hpValue {
            background-color: $brown-200;
            color: $brown;
            padding: 0 8px;
            border-radius: 100px;
            font-size: 0.7rem;
            font-weight: bold;
          }
        }
        //유저이름
        & b {
          font-size: 11px;
          font-weight: 500;
          color: $brown-700;
        }
        //글 본문
        & pre {
          white-space: pre-wrap;
          font-family: "Iropke Batang";
          margin: 0;
          font-size: 14px;
          line-height: 150%;
          font-weight: 400;
          color: $brown-900;
        }
        //첨부이미지
        & img {
          //height: 300px;
          //width: auto;
          width: 200px;
          max-width: 150px;
          max-height: 140px;
          object-fit: scale-down;
          border: 1px solid $brown-200;
          background-color: white;
          border-radius: 10px;
          cursor: pointer;
        }
        //대량첨부이미지
        & .imgNums_5 {
          & img {
            width: 100px;
            height: 100px;
            background: $brown-200;
          }
        }
        & .imgNums_6 {
          & img {
            width: 84px;
            height: 84px;
          }
        }
      }
    }
  }

  @keyframes loading {
    from {
      right: 100%;
    }
    to {
      right: 0;
    }
  }

  //채팅 치는 영역
  & .chatting-form-box {
    //min-height: 40px;
    background-color: $brown-800;
    padding: 0.5rem;
    //이미지 썸네일
    & .img-thumb-area {
      margin-bottom: 0.5rem;
      & img {
        width: 50px;
        height: 50px;
        border-radius: $form-radius;
      }
      & button {
        margin-left: 10px;
        padding: 0.2rem 0.5rem;
        font-family: "Pretendard";
        background-color: $brown-200;
        padding: 0.5rem;
        border-radius: $form-radius;
        transition: all 0.2s;
        &:hover {
          transition: all 0.2s;
          background-color: $brown-400;
        }
      }
    }
    // 폼 작성
    & form {
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
      transition: all 0.2s;
      &.loadingChat {
        transition: all 0.2s;
        height: 0px;
        position: relative;
        & * {
          opacity: 0;
          display: none;
        }
        &::after {
          content: "";
          position: absolute;
          height: 3px;
          border-radius: 100px;
          left: 0;
          right: 0;
          bottom: -1px;
          background-color: $yellow-400;
          display: block;
          animation-name: loading;
          animation-duration: 0.5s;
        }
      }
      & button[type="submit"] {
        width: 60px;
        background: $yellow-300;
        color: $yellow-900;
        font-weight: $form-font-weight;
        & span {
          display: none;
        }
      }
      //툴팁
      & .tooltip {
        position: absolute;
        bottom: calc(100% + 1rem);
        left: 0;
        right: 0.3rem;
        background-color: $brown-800;
        padding: 0.5rem;
        border-radius: $form-radius;
        box-shadow: $form-shadow;

        display: flex;
        & .function-list-container {
          flex: 1;
          border-right: 1px solid $brown-700;
          padding-right: 1rem;
          margin-right: 1rem;
          &:last-child {
            border: none;
            margin: 0;
          }
          & .title {
            color: $brown-500;
            display: flex;
            align-items: center;
            gap: 5px;
            padding-left: 6px;
            margin: 5px 0;
            & span {
              color: $brown-500;
              font-size: 0.8rem;
            }
          }
          & .warning {
            background-color: $brown-900;
            color: pink;
            padding: 0.5rem;
            border-radius: $form-radius;
            text-align: center;
          }
          & .function-list {
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 2px;
            & b {
              font-weight: 300;
              font-size: 0.94rem;
              color: white;
            }
            & p {
              font-weight: 200;
              color: $brown-400;
            }
          }
        }
      }
      //자동완성
      & .autoComplete {
        position: absolute;
        bottom: calc(100% + 1rem);
        left: 0;
        right: 0.3rem;
        border-radius: $form-radius;
        box-shadow: $card-strong-shadow;
        max-height: 200px;
        overflow-y: auto;
        padding: 5px;
        background: $brown-900;
        & > li {
          background: $brown-900;
          color: $brown-500;
          padding: 0.3rem 0.6rem;
          border-radius: $form-radius;
          &.active,
          &.selected {
            background: #251b1b;
            color: $yellow-300;
          }
          & mark {
            background: $yellow-300;
          }
        }
      }
    }
  }
}

//사이드 영역
.side-area {
  display: flex;
  flex-direction: column;
  gap: $layout-gap;
  //공통
  & > div {
    overflow: hidden;
    overflow-y: auto;
    @include cardDesign();
    & .title {
      padding: 0.6rem;
      font-size: 1rem;
      font-weight: 700;
      color: $brown-800;
      display: flex;
      align-items: center;
      & .info-wrap {
        & .info-btn {
          display: inline-block;
          width: 18px;
          height: 18px;
          border-radius: 100px;
          margin-left: 4px;
          cursor: pointer;
          & span {
            font-size: 16px;
            opacity: 0.4;
          }
        }
        & .info-box {
          background: linear-gradient(
            0deg,
            #{$brown-500} 0%,
            #{$brown-400} 50%,
            #{$brown-300} 100%
          );
          border-top: 1px solid white;
          padding: 0.5rem;
          position: absolute;
          top: 40px;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 10;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          justify-content: center;
          text-align: center;
          overflow: hidden;
          & .img-wrap {
            width: 100px;
            height: 100px;
            position: relative;
            margin: 15px 0;
            & img {
              filter: invert(1);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
              &:nth-child(1) {
                width: 100px;
                filter: invert(1) drop-shadow(0px 0px 15px white);
              }
              &:nth-child(2) {
                width: 240px;
              }
            }
          }
          & p {
            background-color: $brown-600;
            z-index: 20;
            line-height: 1.4rem;
            font-size: 0.9rem;
            color: $yellow-100;
            font-weight: 400;
            padding: 6px 12px;
            border: 1px solid white;
            border-radius: $form-radius;
          }
        }
      }
    }
    &.memeber-area {
      flex: 1;
      min-width: 348px;
    }
    &.attend-area {
      flex: 2;
      &.not-now::after {
        content: "Opening Soon";
      }
    }
    &.vending-area {
      flex: 4;
      min-width: 348px;
      &.not-now::after {
        content: "Opening Soon";
        // content: "open at \A (Dec 12, 22:00)";
      }
    }
    &.not-now {
      overflow: hidden;
      position: relative;
      &::after {
        content: "open";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(169, 169, 162, 0.8);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 1.6rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        white-space: pre;
      }
    }
  }
  //접속중 인원
  & .member-area {
    max-height: 120px;
    & .member-list-container {
      display: flex;
      flex-wrap: wrap;
    }
    & .member-list {
      width: 42px;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      &:hover {
        cursor: pointer;
        & .profile-box {
          transition: all 0.1s;
          box-shadow: 0px 0px 5px rgba(96, 86, 83, 0.4);
        }
      }
      & .profile-box {
        transition: all 0.1s;
        background-color: white;
        width: 30px;
        height: 30px;
        border-radius: 6px;
      }
      & p {
        text-align: center;
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 1;
        color: $brown-700;

        width: 110%;
        overflow: hidden;
        white-space: nowrap;
        //text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 1;
        // -webkit-box-orient: vertical;
        // word-break: keep-all;
      }
    }
  }
  //상점
  & .vending-area {
    & .vending-list-container {
      display: flex;
      flex-wrap: wrap;
      padding: 0 0.5rem;
      gap: 0.5rem;
      & .vending-item {
        background-color: white;
        border-radius: 8px;
        box-shadow: $card-shadow;
        border: 1px solid $brown-200;
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        transition: all 0.2s;
        &::after,
        &.soldOut::after {
          content: "Buy";
          background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 220, 106, 0.4) 100%
          );
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $brown;
          font-size: 1rem;
          font-weight: 800;
          opacity: 0;
        }
        &:hover::after {
          opacity: 1;
          cursor: pointer;
        }
        &.soldOut::after {
          background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.8) 0%,
            rgba(237, 234, 230, 1) 100%
          );
          color: $brown-500;
          font-weight: 400;
          font-size: 0.9rem;
          cursor: not-allowed !important;
          content: "SoldOut";
          opacity: 1;
        }
        & .eventTag {
          position: absolute;
          top: 0px;
          left: 0px;
          padding: 2px 5px;
          border-radius: 0 0 5px 0;
          background-color: $purple-200;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $purple;
          font-weight: 600;
          font-size: 0.7rem;
        }
        // & .eventTag {
        //   position: absolute;
        //   top: -5px;
        //   left: -5px;
        //   width: 40px;
        //   height: 20px;
        //   border-radius: 100px;
        //   background-color: $purple;
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   color: white;
        //   font-weight: 400;
        //   font-size: 0.7rem;
        //   transform: rotate(-20deg);
        // }
        & .img-box {
          width: 100%;
          height: 100px;
          border-bottom: 1px solid $brown-300;
          display: flex;
          align-items: center;
          justify-content: center;
          & img {
            width: 48px;
            height: 48px;
            filter: invert(15%) sepia(2%) saturate(5914%) hue-rotate(333deg)
              brightness(98%) contrast(83%);
          }
        }
        & .txt-box {
          width: 100%;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 5px;
          & p {
            text-align: center;
            font-size: 0.7rem;
            font-weight: 400;
            line-height: 1;
            color: $brown-700;

            width: 100%;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-break: keep-all;
          }
          & span {
            background-color: $brown;
            color: white;
            border-radius: 100px;
            text-align: center;
            width: 50px;
            display: block;
          }
        }
      }
    }
  }
  //화분키우기(출석보상)
  & .attend-area {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.4);
    & .content-wrap {
      display: flex;
      flex: 1;
      flex-direction: row;
      gap: 1.5rem;
      justify-content: center;
      align-items: center;
    }
    & .attend-gauge-wrap {
      width: 80px; //게이지 크기
      position: relative;
      & text {
        position: absolute !important;
        z-index: 10;
        font-size: 20px;
        fill: $mint;
        font-weight: 800;
      }
      & img {
        z-index: 1;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // filter: invert(96%) sepia(12%) saturate(137%) hue-rotate(115deg)
        //   brightness(105%) contrast(91%);
        filter: invert(1) brightness(1000%);
        mix-blend-mode: multiply;
      }
    }
    & .attend-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 1rem;
      font-weight: 700;
      & .btn-disable {
        background: $brown-200 !important;
        color: $brown-500 !important;
        cursor: auto !important;
        &:hover {
          filter: none !important;
        }
      }
      & b {
        color: $mint;
        font-size: 1.4rem;
        margin-right: 5px;
        font-weight: 700;
      }
    }
  }
  //히스토리 보기
  & .history-area {
    & .gtn-btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-thumb {
  background-color: $yellow-200;
  border-radius: $form-radius;
  background-clip: padding-box;
  border: 1px solid transparent; //pdding 대신 여백사용할때
}
*::-webkit-scrollbar-track {
  background-color: $yellow-700;
  border-radius: 10px;
}

//미디어쿼리
@media only screen and (max-width: $breakpoint-labtop) {
  #root {
    height: calc(var(--var, 1vh) * 100);
  }
  .side-area {
    display: none;
  }
  .profile-area {
    width: 200px !important;
    & .nameplate {
      padding: 0.3rem 0.4rem !important;
      & img {
        width: 20px !important;
        height: 20px !important;
      }
      & h4 {
        font-size: 0.9rem !important;
      }
      & p {
        font-size: 0.5rem !important;
      }
    }
    & .profile-btns {
      flex-direction: column;
      & button {
        width: 100%;
      }
    }
  }
  .chatting-area {
    & .tooltip {
      max-height: 200px;
      overflow-y: auto;
    }
  }
}
@media only screen and (max-width: $breakpoint-mobile) {
  #root::after {
    display: none !important;
  }
  .home-wrap {
    padding: 0 !important;
  }
  .home-bg {
    display: none !important;
  }
  .profile-area {
    display: none !important;
  }
  .chatting-area {
    box-shadow: none !important;
    & .chatting-list-container {
      border-radius: $card-radius $card-radius 0 0;
      box-shadow: $card-shadow;
      & .txt-box {
        width: 100%;
        //대량첨부이미지
        & .imgNums_5, & .imgNums_6 {
          width: 100%;
          & img{
            width: 50px;
            height: 50px;
          }
        }
      }
    }
    & .chatting-form-box {
      & .tooltip {
        display: none;
      }
      & button[type="submit"] {
        width: $form-height !important;
        height: $form-height !important;
        padding: 0 !important;
        font-size: 0;
        gap: 0;
        & span {
          font-size: 18px;
          display: block !important;
        }
      }
    }
    & .mobile-header {
      display: flex !important;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 0 0.5rem;
      height: 40px;
      border-bottom: 1px solid $brown-500;
      font-size: 1rem;
      font-weight: bold;
      & .logo {
        transform: scale(0.7) translateX(-20%);
      }
    }
  }
  .mobileMenu-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    & .close-wrap {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    & .menu-wrap {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      & .menu-item-wrap {
        width: 100%;
        background-color: white;
        border-radius: $form-radius;
        box-shadow: $card-strong-shadow;
        & .menu-item {
          height: 60px;
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 0.9rem;
          font-weight: 800;
          border-bottom: 1px solid $brown-200;
          &:nth-of-type(1) .material-icons-round {
            color: $yellow-500;
          }
          &:nth-of-type(2) .material-icons-round {
            color: $purple-500;
          }
          &:nth-of-type(3) .material-icons-round {
            color: $brown-500;
          }
        }
      }
    }
  }
}
