@import "_varient";

/* load images */
// 1. lens Flare, 2. springBg, 3. autumBg, 4. Frame
$url_1: "https://static.vecteezy.com/system/resources/thumbnails/007/128/160/original/lens-flare-bright-afternoon-sun-with-lens-flare-lens-flare-transition-light-effect-lens-flare-effect-on-black-background-light-streaks-lights-optical-lens-flares-free-video.jpg";
$url_2: "https://firebasestorage.googleapis.com/v0/b/gratia-2cdd0.appspot.com/o/gratine%2FspringBackground2.avif?alt=media&token=c423004b-139e-4768-afea-0c0e0682580d";
$url_3: "https://images.unsplash.com/photo-1513297887119-d46091b24bfa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D";
$url_4: "https://firebasestorage.googleapis.com/v0/b/gratia-2cdd0.appspot.com/o/gratine%2Fframe.png?alt=media&token=88efe3ab-2819-4c38-a0df-f911263bc059";

//이미지 미리 로딩
body::after {
  /* 소스만 다운받고 화면은 나태내지 않는다. (숨김 처리) */
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url($url_2) url($url_4); /* 필요한 이미지 소스들 다운 */
}

//로그인
.login-area {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
  overflow-y: auto;

  & .logo {
    filter: invert(1) drop-shadow(0px 0px 2px #ffffff);
    height: 116px;
    width: 296px;
    min-height: 116px;
    margin-bottom: 2rem;
    position: relative;
    &::before {
      content: "";
      width: 600px;
      height: 600px;
      background: radial-gradient(
        circle,
        rgba(255, 150, 192, 0.8) 0%,
        rgba(173, 125, 255, 0) 50%
      );
      position: absolute;
      mix-blend-mode: color-burn;
      display: none;
    }
  }

  //데코들
  & .copyright {
    color: white;
    position: absolute;
    bottom: 10px;
  }
  & .sunshine {
    position: absolute;
    filter: hue-rotate(60deg) brightness(400%) grayscale(70%);
    transform: rotate(0deg);
    mix-blend-mode: soft-light;
    // animation-name: rotateLight;
    // animation-duration: 6s;
    // animation-iteration-count: infinite;
    // animation-direction: alternate;
  }
  //임시
  .theme-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    & button {
      padding: 0 5px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
    }
  }
}

//편지지
.login-area .login-letter {
  position: relative;
  width: 600px;
  padding: 1rem 3rem 3rem 3rem;
  gap: 2rem;
  border-radius: 4px;
  box-shadow: $card-strong-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  & div[class*="frame-"] {
    position: absolute;
    width: 50px;
    height: 50px;
    filter: sepia(1%) saturate(2208%) hue-rotate(332deg) brightness(110%)
      contrast(83%) drop-shadow(0px 0px 3px rgba(135, 122, 22, 0.8));
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url($url_4);
    &.frame-1 {
      top: 0;
      left: 0;
    }
    &.frame-2 {
      top: 0;
      right: 0;
      transform: rotateY(180deg);
    }
    &.frame-3 {
      bottom: 0;
      left: 0;
      transform: rotateX(180deg);
    }
    &.frame-4 {
      bottom: 0;
      right: 0;
      transform: rotateY(180deg) rotateX(180deg);
    }
  }
  & .symbol {
    width: 140px;
    height: 140px;
    background-repeat: none;
    background-size: contain;
    opacity: 1;
  }
  & .notice-box {
    width: 100%;
    padding: 0.5rem;
    border-radius: $form-radius;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $yellow-200;
    text-align: center;
    & b{
      color: $brown-700;
      font-size: 0.9rem;
      padding: 5px 0;
    }
    & p {
      color: $brown-700;
    }
    & a {
      font-weight: 800;
      font-size: 1rem;
      color: $brown-700;
    }
  }
  & .login-cont-wrap {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    & .login-txt-wrap {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & * {
        color: #d6d9d2;
      }
      & .login-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        & p {
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
      & .login-sub-txt {
        cursor: pointer;
        & span {
          color: $yellow-400;
          margin-left: 5px;
        }
      }
    }
    & form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      & p {
        color: red;
      }
    }
  }
  & .border {
    position: relative;
    width: 100%;
    & img,
    & .line {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    & img {
      height: 14px;
      filter: invert(92%) sepia(13%) saturate(1384%) hue-rotate(338deg)
        brightness(108%) contrast(85%);
    }
    & .line {
      width: 110%;
      height: 1px;
      background-color: $yellow-300;
      position: relative;
      $decoSize: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & div {
        width: 0;
        height: 0;
        border: $decoSize solid transparent;
        border-bottom-color: $yellow-300;
        position: relative;
        top: -$decoSize;
        &::after {
          content: "";
          position: absolute;
          left: -$decoSize;
          top: $decoSize;
          width: 0;
          height: 0;
          border: $decoSize solid transparent;
          border-top-color: $yellow-300;
        }
      }
    }
  }
  & .login-functions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
    & .function-item {
      flex: 1;
      padding: 6px;
      border-radius: $form-radius;
      border: 1px solid $yellow-700;
      background-color: $yellow-800;
      color: $yellow-400;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        transition: all 0.2s;
        filter: brightness(0.9);
      }
      & .img {
        width: 28px;
        height: 28px;
        border-radius: 4px;
        background: $yellow-400;
      }
    }
  }
}
//테마
@keyframes rotateLight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
}
@keyframes tiltDown {
  from {
    background-position: top center;
  }
  to {
    background-position: center center;
  }
}
#root .app-container .login-area {
  &.theme-spring {
    background-image: url($url_2);
    animation-name: tiltDown;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    & .login-letter {
      transition: all 0.3s;
      background-color: rgba(255, 255, 255, 0.3);
      background: linear-gradient(
        0deg,
        rgba(255, 250, 150, 0.644) 0%,
        rgba(3, 56, 42, 0.311) 50%,
        rgba(255, 251, 175, 0.5) 100%
      );
      backdrop-filter: blur(3px);
      border-radius: 10px;
      box-shadow: $card-shadow;
      & div[class*="frame-"] {
        filter: invert(0);
      }
      & .symbol {
        width: 140px;
        height: 140px;
        background-repeat: none;
        background-size: contain;
        filter: invert(1);
        opacity: 0.7;
      }
      & .login-cont-wrap {
        & .login-txt-wrap {
          & .login-title {
            & p {
              color: white;
              & span {
                color: $yellow-300;
              }
            }
          }
        }
      }
      & .function-item {
        border: 1px solid $yellow-500;
        background-color: $yellow-200;
        color: $yellow-800;
        & .img {
          background: $yellow-400;
          border: 1px solid $yellow-500;
        }
      }
    }
  }
  &.theme-wood {
    background-image: url($url_3);
    animation-name: tiltDown;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    & .login-letter {
      background-color: #052126ba;
      backdrop-filter: blur(10px);
      border-radius: 10px;
      box-shadow: $card-shadow;
      & div[class*="frame-"] {
        filter: invert(10%) sepia(62%) saturate(200%) hue-rotate(326deg)
          brightness(90%) contrast(102%);
      }
      & .symbol {
        width: 140px;
        height: 140px;
        background-repeat: none;
        background-size: contain;
        filter: invert(24%) sepia(9%) saturate(6371%) hue-rotate(23deg)
          brightness(200%) contrast(89%);
        opacity: 0.5;
      }
      & .login-cont-wrap {
        & .login-txt-wrap {
          & .login-title {
            & p {
              color: $brown-600;
              & span {
                color: $yellow-600;
              }
            }
          }
        }
      }
      & .notice-box {
        background-color: $yellow-500;
        & p {
          color: $brown-800;
        }
        & a {
          color: $brown-800;
        }
      }
      & .function-item {
        border: 1px solid $yellow-700;
        background-color: $yellow-800;
        color: $yellow-400;
        & .img {
          background: $yellow-400;
        }
      }
    }
  }
}

//미디어쿼리
@media only screen and (max-height: 740px) {
  .login-area {
    justify-content: flex-start;
    padding: 1rem 0;
  }
}
@media only screen and (max-width: $breakpoint-labtop) {
  #root {
    &::before {
      //display: none !important;
    }
    & .login-area {
      //background-image: none !important;
      //background: $brown-700 !important;
      padding: 10px;
      & .logo {
        transform: scale(0.5);
        margin: 0;
      }
      & .login-letter {
        max-width: 400px;
        width: 100%;
        padding: 2rem;
        padding-top: 0.5rem;
        //background: $brown-800 !important;
        & .login-cont-wrap {
          flex-direction: column;
          & .login-txt-wrap {
            text-align: center;
          }
        }
        & .login-functions {
          display: none;
          width: 110%;
          gap: 3px;
        }
        & .border {
          width: 80%;
        }
      }
      & .sunshine {
        display: none;
      }
      & .copyright {
        color: white;
        position: relative;
        margin-top: 3rem;
      }
    }
  }
}
@media only screen and (max-width: $breakpoint-mobile) {
  #root {
    & .login-area {
      padding: 0;
      background: $brown-800 !important;
      justify-content: flex-start;
      & .logo{
        display: none;
      }
      & .login-letter {
        border-radius: 0 !important;
        box-shadow: none !important;
        & div[class*="frame-"] {
          display: none;
        }
      }
    }
  }
}
