.login-area {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-area .logo {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-bottom: 2rem;
}

.login-area .login-box {
  width: 600px;
  height: 500px;
  position: relative;
}

.login-area .login-box .login-letter {
  position: relative;
  width: 100%;
  padding: 1rem 3rem 3rem 3rem;
  gap: 2rem;
  border-radius: 4px;
  -webkit-box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
          box-shadow: 0rem 0.47rem 2.19rem rgba(8, 10, 37, 0.02), 0rem 0.94rem 1.41rem rgba(8, 10, 37, 0.02), 0rem 0.25rem 0.53rem rgba(8, 10, 37, 0.04), 0rem 0.13rem 0.19rem rgba(8, 10, 37, 0.02);
  background-color: #44463a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-area .login-box .login-letter div[class*="frame-"] {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-filter: sepia(1%) saturate(2208%) hue-rotate(332deg) brightness(110%) contrast(83%) drop-shadow(0px 0px 3px rgba(135, 122, 22, 0.8));
          filter: sepia(1%) saturate(2208%) hue-rotate(332deg) brightness(110%) contrast(83%) drop-shadow(0px 0px 3px rgba(135, 122, 22, 0.8));
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/gratia-2cdd0.appspot.com/o/gratine%2Fframe.png?alt=media&token=88efe3ab-2819-4c38-a0df-f911263bc059");
}

.login-area .login-box .login-letter div[class*="frame-"].frame-1 {
  top: 0;
  left: 0;
}

.login-area .login-box .login-letter div[class*="frame-"].frame-2 {
  top: 0;
  right: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.login-area .login-box .login-letter div[class*="frame-"].frame-3 {
  bottom: 0;
  left: 0;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.login-area .login-box .login-letter div[class*="frame-"].frame-4 {
  bottom: 0;
  right: 0;
  -webkit-transform: rotateY(180deg) rotateX(180deg);
          transform: rotateY(180deg) rotateX(180deg);
}

.login-area .login-box .login-letter .symbol {
  width: 140px;
  height: 140px;
  background-repeat: none;
  background-size: contain;
  opacity: 1;
  -webkit-filter: invert(63%) sepia(2%) saturate(2103%) hue-rotate(29deg) brightness(77%) contrast(108%);
          filter: invert(63%) sepia(2%) saturate(2103%) hue-rotate(29deg) brightness(77%) contrast(108%);
}

.login-area .login-box .login-letter .notice-box {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F1CE;
}

.login-area .login-box .login-letter .notice-box p {
  color: #746758;
}

.login-area .login-box .login-letter .notice-box a {
  font-weight: 800;
  font-size: 1rem;
  color: #746758;
}

.login-area .login-box .login-letter .login-cont-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.login-area .login-box .login-letter .login-cont-wrap .login-txt-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.login-area .login-box .login-letter .login-cont-wrap .login-txt-wrap * {
  color: #d6d9d2;
}

.login-area .login-box .login-letter .login-cont-wrap .login-txt-wrap .login-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.login-area .login-box .login-letter .login-cont-wrap .login-txt-wrap .login-title p {
  font-size: 1.4rem;
  font-weight: 600;
}

.login-area .login-box .login-letter .login-cont-wrap .login-txt-wrap .login-title span {
  font-size: 1.4rem;
  font-weight: 600;
  display: block;
}

.login-area .login-box .login-letter .login-cont-wrap .login-txt-wrap .login-sub-txt {
  cursor: pointer;
}

.login-area .login-box .login-letter .login-cont-wrap .login-txt-wrap .login-sub-txt span {
  color: #E3CF59;
  margin-left: 5px;
}

.login-area .login-box .login-letter .login-cont-wrap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.login-area .login-box .login-letter .login-cont-wrap form p {
  color: red;
}

.login-area .login-box .login-letter .border {
  position: relative;
  width: 100%;
}

.login-area .login-box .login-letter .border img,
.login-area .login-box .login-letter .border .line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.login-area .login-box .login-letter .border img {
  height: 14px;
  -webkit-filter: invert(92%) sepia(13%) saturate(1384%) hue-rotate(338deg) brightness(108%) contrast(85%);
          filter: invert(92%) sepia(13%) saturate(1384%) hue-rotate(338deg) brightness(108%) contrast(85%);
}

.login-area .login-box .login-letter .border .line {
  width: 110%;
  height: 1px;
  background-color: #ECE094;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-area .login-box .login-letter .border .line div {
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #ECE094;
  position: relative;
  top: -6px;
}

.login-area .login-box .login-letter .border .line div::after {
  content: "";
  position: absolute;
  left: -6px;
  top: 6px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #ECE094;
}

.login-area .login-box .login-letter .ending-ment {
  color: #B7A11F;
  text-align: center;
}

.login-area .login-box .login-letter .login-functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: 90%;
}

.login-area .login-box .login-letter .login-functions .function-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #9A871A;
  background-color: #605410;
  color: #E3CF59;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.login-area .login-box .login-letter .login-functions .function-item:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.login-area .login-box .login-letter .login-functions .function-item .img {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background: #E3CF59;
}

@media (max-width: 1000px) {
  #root .login-area {
    padding: 10px;
  }
  #root .login-area .login-box {
    width: 450px;
  }
  #root .login-area .login-box .login-letter {
    padding: 2rem;
    padding-top: 0.5rem;
  }
  #root .login-area .login-box .login-letter .login-cont-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #root .login-area .login-box .login-letter .login-cont-wrap .login-txt-wrap {
    text-align: center;
  }
  #root .login-area .login-box .login-letter .border {
    width: 80%;
  }
}

@media (max-width: 480px) {
  #root .login-area {
    padding: 10px;
  }
  #root .login-area .login-box {
    width: 100%;
  }
  #root .login-area .login-box .login-letter {
    padding: 1rem;
    padding-bottom: 3rem;
  }
  #root .login-area .login-box .login-letter .login-cont-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #root .login-area .login-box .login-letter .login-cont-wrap .login-txt-wrap {
    text-align: center;
  }
  #root .login-area .login-box .login-letter .border {
    width: 80%;
  }
}
